
<div class="mainDiv" fxLayout="row"  fxLayoutAlign="start center" fxFlexFill [class.mat-elevation-z8]="true" >

    <mat-card fxFlex.xs="90" fxFlex.sm="60" fxFlex.gt-sm="50" fxFlexOffset.xs="5" fxFlexOffset.sm="20" fxFlexOffset.gt-sm="25" >
      <mat-toolbar >
        <mat-toolbar-row >
        <h1 style="text-align: center">Login</h1>
        </mat-toolbar-row>
      </mat-toolbar>

          <mat-card-content   >
            <form fxLayout="row wrap" fxLayoutAlign="start center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <mat-form-field fxFlex="80" fxFlexOffset="10" >

                        <input   matInput [formControl]="email" formControlName="email" type="email" placeholder="Enter email">
                    </mat-form-field>


                    <mat-form-field fxFlex="80" fxFlexOffset="10" >
                      <input  matInput [formControl]="password"  formControlName="password" type="password" placeholder="Password">
                    </mat-form-field>


                    <button fxFlex="40" fxFlexOffset="30" mat-raised-button color="accent" [disabled]="!loginForm.valid" type="submit" >Login</button>


            </form>

          </mat-card-content>
    </mat-card>

</div>
