
input.ng-invalid.ng-touched {


}
.mainDiv{
 margin-top: 10%;
}

.myLoginCard{
  width: 100%;
}
mat-toolbar {
  text-align: center;
  font-size: large;
  background-color: #f05522;
  color: white;
  margin-bottom: 5%;
}
