<div class="container-fluid mainDiv ">
  <div class="row">
    <div  class="col-lg-4 col-md-6 offset-lg-4 col-sm-8 offset-sm-2  offset-md-3 loginDiv">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group text-center">
          <label  for="Email">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
          <span *ngIf="!(registerForm.get('email').valid) && registerForm.get('email').touched">
            <small *ngIf="registerForm.get('email').hasError('required')" class="mySmall">email is required</small>
            <small *ngIf="registerForm.get('email').hasError('email')" class="mySmall">insert valid mail</small>
            <small *ngIf="registerForm.get('email').hasError('addressInUse')" class="mySmall">address already in use
            </small>
          </span>
        </div>
        <div class="form-group text-center">
          <label  for="name">name</label>
          <input formControlName="name" type="text" class="form-control" id="name"  placeholder="Enter name">

        </div>
        <div class="form-group text-center">
          <label  for="surname">surname</label>
          <input formControlName="surname" type="text" class="form-control" id="surname" aria-describedby="emailHelp" placeholder="last name">

        </div>
        <div class="form-group text-center">
          <label  for="address">address</label>
          <input formControlName="address" type="text" class="form-control" id="address"  placeholder="Enter address">

        </div>
        <div class="form-group text-center">
          <label  for="phone">phone number</label>
          <input formControlName="phone" type="text" class="form-control" id="phone"  placeholder="Enter phone num">

        </div>
        <div class="form-group text-center">
          <label for="Password"> Password</label>
          <input formControlName="password" type="password" class="form-control" id="Password" placeholder="Password">
          <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
             <small *ngIf="registerForm.get('password').hasError('minLength')" class="mySmall">password min lenght 8</small>
            <small *ngIf="registerForm.get('password').hasError('required')" class="mySmall">password required</small>
          </span>
        </div>
        <div class="form-group text-center">
          <label for="password1">Retype Password</label>
          <input formControlName="password1" type="password" class="form-control" id="password1" placeholder=" retype Password">
          <span *ngIf="!registerForm.get('password1').valid && registerForm.get('password1').touched">
            <small *ngIf="registerForm.get('password1').hasError('minLength')" class="mySmall">password min lenght 8</small>
            <small *ngIf="registerForm.get('password1').hasError('required')" class="mySmall">password required</small>
             <small *ngIf="registerForm.hasError('passwordMustMatch')" class="mySmall">passwords must match</small>
          </span>
        </div>



        <div class="col-4 offset-4 form-group">
          <button [disabled]="!registerForm.valid" type="submit" class="btn btn-outline-success">Sign Up</button>
        </div>
      </form>
    </div>

  </div>
</div>
