
.homeButton{
  background-color: #f05522;
  color: white;
  border-radius: 10%;
}
.myBtnDiv{
  margin-top: 10%;
  padding-bottom: 20%;
}

.titleRow{

  text-align: center;
  color: white;

}
#mainDiv{
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("/static/images/food_background.png");
  background-size: 100% 100%;
}
