<div *ngIf="messages.messages.length" class="row fixed-bottom">
  <div class="col-8 offset-2">
    <div *ngFor="let mex of messages.messages" [ngClass]="mex.mexType" class="alert " role="alert">
      {{mex.mexText}}
    </div>
  </div>
</div>
<div class="fixed-bottom clearfix">
  <div class="fabMenu" *ngIf="fabMenuOpened" >
    <a (click)="onFabToggle()" class="myFabButtons float-right" routerLink="/orders" appFabButton ><i class="fa fa-shopping-cart fa-1x"></i></a>
    <a (click)="onFabToggle()" class="myFabButtons float-right" routerLink="/products" appFabButton ><i class="fa fa-shopping-bag fa-1x"></i></a>
    <a (click)="onFabToggle()" class="myFabButtons float-right" routerLink="/orders/checkout" appFabButton ><i class="fa fa-credit-card fa-1x"></i></a>
    <a (click)="onFabToggle()" class="myFabButtons float-right" routerLink="/home" appFabButton ><i class="fa fa-home  fa-1x"></i></a>
  </div>
  <a  (click)="onFabToggle()" class="myFabButton float-right"  appFabButton ><i [ngClass]="{'fa-angle-right': fabMenuOpened, 'fa-ellipsis-v': !fabMenuOpened}" class="fa  fa-2x"></i></a>

</div>
