.myNavbar{
  background-color: #f05522;
  height: 12%;
}

.myHeaderButton{

  color:white;
  background-color: #f05522 ;
  border: none;
  height: 30px;
  width: 30px;

}
.myColor{
 color: white;
  text-align:  center;
}
button:focus{

 outline: none;
}
.fa-bars{
  color:white;
}
.myBars {
   position: fixed;
   top: 0px;
   left: 0px;
  min-height: 100%;
   color:white!important;
  background-color: #f05533;
   z-index: 1150 !important;
   width: 25%;
 }
.sideli {
  color:white;
  background-color: #f05533;
  padding-left: 5%;
}
li.sideli:hover{
  opacity: 0.5;
}

@media screen and (max-width: 500px){
  .myBars {
    position: fixed;
    top: 0px;
    left: 0px;
    color:white!important;
    background-color: #f05533;
    z-index: 1150 !important;
    width: 60%;
  }

}
