<h1 class="text-center">Your Order</h1>
<app-order-detail *ngFor="let item of order.products" [orderPart]="item" ></app-order-detail>

<div class="row totalRow">
  <div class="col-10 offset-1">
    <div class="row">
      <div class="col-6 ">
        <h1 class="float-left">Total price</h1>
      </div>
      <div class="col-6 ">
        <h1 class="float-right">{{order.total}} $</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-10 offset-1">
    <div *ngIf="order.products && order.products.length !== 0" class="row">
      <div class="col-6">
        <button (click)="onCancelOrder()" class="btn btn-outline-danger">cancel order</button>
      </div>
      <div class="col-6">
        <button (click)="onSaveOrder()" class="btn btn-outline-success">save Order</button>
      </div>
    </div>
  </div>
</div>
