
.myBadgeDiv{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: -20px;
  z-index: 3;
  background-color: #f05522;
  color: white;
  text-align: center ;

  font-size: 40px;

}

mat-card-title{
  margin:0px;
}
mat-card-content{
  margin :0px;
}
.card-footer{
  color: #9b9b9b;
}
.card-text{
  color: #9b9b9b;
}

.myCard {
 min-width: 100%;


}
.img{
/* min-width: 100%;*/
}
.myButton{
  background-color: transparent;

  border: none;
}
button:focus{
  outline: none;
}
.myCardDiv {
  background-color: #00B7FF;
  min-width: 100%;
  border-radius: 3px;
}

mat-card-content {
  color :#9b9b9b;
}

.myIco{
  color :#9b9b9b;
  font-size: 50px;
}
.myPrice{
  font-size: large;
  text-align: end;
}
.myFooterBtnLeft{
  font-size: medium;
  text-align: start;
}
.myFooterBtnRight{
  font-size: medium;
  text-align: end;
}
