<div class="myBadgeDiv" *ngIf="this.quantity > 0" [class.mat-elevation-z8]="true">
  {{this.quantity}}
</div>
<mat-card class="myCard"
          fxFill fxFlex="100">

    <img  mat-card-image src="./static/images/{{item.imagePath}}">

  <mat-card-title fxLayout="row" fxLayoutAlign=" start" >
    <div fxFlex="80" fxFlexOffset="10">
      <h5  >{{item.name}}</h5>
    </div>
  </mat-card-title>
  <mat-card-content fxLayout="row wrap" fxLayoutAlign="start" >
    <div fxFlex="90" fxFlexOffset="5">
      <p >{{item.description}}</p>
    </div>
    <span fxFlex="60"></span>
    <span class="myPrice" fxFlex="40">{{item.price}} $</span>

  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer  >
    <div fxFlexFill fxLayout="row" fxLayoutAlign="start start">
      <span fxFill fxFlex="50" class="myFooterBtnLeft" ><button class="myButton" (click)="removeProduct()"> <mat-icon class="myIco" >remove_circle_outline</mat-icon></button></span>

      <span fxFill fxFlex="40" class="myFooterBtnRight"><button class="myButton" (click)="addProduct()" > <mat-icon  class="myIco" >add_circle_outline</mat-icon></button></span>
    </div>
  </mat-card-footer>
</mat-card>
