<div class="col-xl-3  col-lg-3 col-md-6   col-sm-12   cardDiv">
  <div   class="card" style="width: 18rem;">
    <span *ngIf="this.quantity > 0" class="badge myBadge">{{this.quantity}}</span>
    <img (click)="addProduct()" class="card-img-top" src="./static/images/{{item.imagePath}}" alt="Card image cap">
    <div (click)="addProduct()" class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.description}}</p>

    </div>
    <div class="card-footer text-muted">
      <p class="float-left">Price </p>
      <p class="float-right">{{item.price}} $</p>
      <br>
      <hr>
      <span><i (click)="removeProduct()" class="fa fa-minus-circle  fa-2x float-left "></i></span>
      <span><i (click)="addProduct()" class="fa fa-plus-circle fa-2x float-right "></i></span>
    </div>
  </div>
</div>

